* {
  /* border: 1px solid silver; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fantasy, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.scene {
  height: 2000vh;
}

.layer {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  animation-timeline: scroll();
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-range: 0vh 2000vh;
}

.instruction-label {
  position: fixed;
  left: 0;
  top: 0;

  padding: 10px 20px;

  color: silver;
  z-index: 100;

  animation-timeline: scroll();
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-range: 50vh 300vh;

  animation-name: animation-instruction-label;
}



@keyframes animation-instruction-label {
  to {
    opacity: 0;
  }
}

/* Small particles */
.layer-1 {
  z-index: 4;

  animation-name: animation-1;
}

@keyframes animation-1 {
  from {
    scale: 0.9;
  }
  to {
    scale: 1.5;
  }
}

/* Big particles */
.layer-2 {
  z-index: 3;

  animation-name: animation-2;
}

@keyframes animation-2 {
  from {
    scale: 0.9;
  }
  to {
    scale: 2;
  }
}

/* Main background */
.layer-3 {
  z-index: 1;

  animation-name: animation-3;
}

@keyframes animation-3 {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

/* Buddha */
.layer-4 {
  z-index: 2;

  animation-name: animation-4;
}

@keyframes animation-4 {
  from {
    scale: 1;
  }
  to {
    scale: 2;
  }
}

.layer-phrase-begin {
  padding: 5hv 5vw;

  color: white;
  font-size: 2vh;

  transform: translateY(420%);

  opacity: 0;

  animation-name: animation-phrase-begin;
  animation-timeline: scroll();
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-range: 200vh 1000vh;
}

@keyframes animation-phrase-begin {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

.layer-phrase-final {
  color: white;
  font-size: 2vh;
}

.layer-blackout {
  animation-name: animation-blackout;
  animation-range: 1100vh 2000vh;
}

@keyframes animation-blackout {
  to {
    z-index: 5;
    background-color: black;
  }
}
