* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: fantasy;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.scene {
  height: 1000vh;
}

.layer {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  animation-timeline: scroll();
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-range: 0 800vh;
}

/* Small particles */
.layer-1 {
  animation-name: animation-1;
  z-index: 4;
}

/* Big particles */
.layer-2 {
  animation-name: animation-2;
  z-index: 3;
}

/* Main background */
.layer-3 {
  animation-name: animation-3;
  z-index: 1;
}

/* Buddha */
.layer-4 {
  animation-name: animation-4;
  z-index: 2;
}

@keyframes animation-1 {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes animation-2 {
  from {
    scale: 1;
  }
  to {
    scale: 1.8;
  }
}

@keyframes animation-3 {
  from {
    scale: 1;
  }
  to {
    scale: 1.3;
  }
}

@keyframes animation-4 {
  from {
    scale: 1;
  }
  to {
    scale: 1.6;
  }
}

.layer-content {
  padding: 5hv 5vw;

  color: white;
  font-size: 2vh;

  transform: translateY(420%);

  animation-timeline: scroll();
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-range: 0vh 1000vh;

  animation-name: animation-content;
}

@keyframes animation-content {
  to {
    opacity: 0;
  }
}

.layer-final {
  color: white;
  font-size: 2vh;

  opacity: 0;
  animation-range: 100vh 400vh;

  animation-name: animation-end;
}

@keyframes animation-end {
  to {
    opacity: 1;
    z-index: 5;
  }
}

.layer-final::before {
  content: '';
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;

  animation-timeline: scroll();
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-range: 0vh 400vh;
  animation-name: animation-bg;
}

@keyframes animation-bg {
  to {
    opacity: 1;
  }
}

.layer-final h1 {
  position: relative;
}